<h1><%=h @runner.name %></h1>

<div id="records">
  <h2>
    <%=t 'app.common.ennatykset' %>
  </h2>
  
  <table>
    <% [15200, 7600, 3600].each do |m| %>
    
      <% if @runner.record_run(m) %>
      <tr>
        <td><%= (m / 1000.0).to_s %> km</td>
        <td><%= @runner.record_time(m) %></td>
        <td><%= link_to @runner.record_run(m).event.event_date.to_finnish,
                event_path(@runner.record_run(m).event,
                           :anchor => "run_#{@runner.record_run(m).to_param}") %></td>
      </tr>
      <% end %>
    
    <% end %>
  </table>
</div>

<div id="recent">
  <h2>
    <%=t 'app.common.viimeisimmat_tulokset' %>
  </h2>
  
  <table>
    <% @recent.keys.sort.reverse.each do |year| %>
    <tr>
      <th><%= year %></th>
    </tr>
    
    <% @recent[year].each do |run| %>
    <tr id="run_<%= run.id %>">
      <td>
        <%= link_to(run.event.event_date.to_finnish, 
                    event_path(run.event, :anchor => "run_#{run.to_param}")) %>
      </td>
      
      <td>
        <%= run.length %>
      </td>
      
      <td class="result">
        <%= run.result %>
      </td>
      
      <td class="splits">
        <%= run.splits %>
      </td>
    </tr>
    <% end %>
    <% end %>  
  </table>
</div>
