- # coding: UTF-8
%h1= @page_title
#event
  #info
    %dl
      - if @event.temperature
        %dt
          = t 'app.common.temperature'
        = temperature(@event)
      - if @event.weather
        %dt= t 'app.common.circumstances'
        %dd= @event.weather
  #results
    - [15200, 7600, 3600].each do |length|
      - unless @results[length].blank?
        %h2== #{length} m
    
        %table
          - @results[length].each_with_index do |result, i|
            %tr{ :id => "run_#{result.to_param}" }
              %td.position
                = i + 1
              %td.name
                = link_to h(result.runner.name), runner_path(result.runner)
              %td.result
                = h result.result(length)
              %td.splits
                = h result.splits

  %ul#photos
    - @photos.each do |photo|
      %li
        = link_to image_tag(photo.tt_source('Square')), photo.tt_url
