<h1><%= @event.event_date.to_finnish %></h1>

<div id="info">
  <dl>
    <% if @event.temperature %>
    <dt>
      Lämpötila
    </dt>
    <%= temperature(@event) %>
    <% end %>
    
    <% if @event.weather %>
    <dt>
      Olosuhteet
    </dt>
    <dd>
      <%= @event.weather %>
    </dd>
    <% end %>
  </dl>
</div>

<div id="results">
  <% [15200, 7600, 3600].each do |length| %>
    <% unless @results[length].blank? %>
    <h2>
      <%= length %> m
    </h2>

    <table>
      <% @results[length].each_with_index do |result, i| %>
      <tr id="run_<%= result.to_param %>">
        <td><%= i + 1 %></td>
        <td><%= link_to h(result.runner.name), runner_path(result.runner) %></td>
        <td class="result"><%=h result.result(length) %></td>
        <td class="splits"><%=h result.splits %></td>
      </tr>
      <% end %>
    </table>
    <% end %>
  <% end %>
</div>

<ul id="photos">
  <% @photos.each do |photo| %>
  <li>
    <%= link_to image_tag(photo.tt_source('Square')), photo.tt_url %>
  </li>
  <% end %>
</ul>