<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi" lang="fi">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%=t 'app.common.pyynikin_testijuoksu' %> &raquo; <%= @page_title %></title>
	
	<%= stylesheet_link_tag "pyynikki" %>
	
	<%= javascript_include_tag 'prototype', 'lowpro', 'highlight' %>
	
</head>

<body>
<div id="contents">
  <div id="breadcrumbs">
    <%= breadcrumbs %>
  </div>
  
  <%= yield %>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-84654-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>

</body>
</html>
