!!! Strict
%html{ "xml:lang" => "fi", :lang => "fi", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      == #{t('app.common.pyynikki_test_run')}
      - if @page_title
        == &raquo; #{@page_title}
    = stylesheet_link_tag "pyynikki"
    = stylesheet_link_tag "formtastic"
    = stylesheet_link_tag "formtastic_changes"
    = stylesheet_link_tag 'compiled/grid.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/text.css', :media => 'screen, projection'
    
    = javascript_include_tag 'prototype', 'lowpro', 'highlight'
  %body
    #contents
      #breadcrumbs
        = raw breadcrumbs
      #flash
        - if flash[:warning]
          #warning
            = flash[:warning]
      = yield
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      var pageTracker = _gat._getTracker("UA-84654-7");
      pageTracker._initData();
      pageTracker._trackPageview();